In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySpark Transformations").getOrCreate()
from pyspark.sql.functions import col,sum,avg,count,row_number
from pyspark.sql.window import Window

In [13]:
from google.colab import files
uploaded = files.upload()

Saving txn.csv to txn.csv

In [14]:
txn_df = spark.read.csv("txn.csv", header =True, inferSchema=True)
txn_df.show(5)

+-------------+--------------------+----------+----------------+-------------+-----------+
|   Account No| TRANSACTION DETAILS|VALUE DATE| WITHDRAWAL AMT | DEPOSIT AMT |BALANCE AMT|
+-------------+--------------------+----------+----------------+-------------+-----------+
|409000611074'|TRF FROM  Indiafo...| 29-Jun-17|            NULL|    1000000.0|  1000000.0|
|409000611074'|TRF FROM  Indiafo...|  5-Jul-17|            NULL|    1000000.0|  2000000.0|
|409000611074'|FDRL/INTERNAL FUN...| 18-Jul-17|            NULL|     500000.0|  2500000.0|
|409000611074'|TRF FRM  Indiafor...|  1-Aug-17|            NULL|    3000000.0|  5500000.0|
|409000611074'|FDRL/INTERNAL FUN...| 16-Aug-17|            NULL|     500000.0|  6000000.0|
+-------------+--------------------+----------+----------------+-------------+-----------+
only showing top 5 rows

In [5]:
loan_df = spark.read.csv("loan.csv", header =True, inferSchema=True)
loan_df.show(5)

+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|     TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|      POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 5 rows

TRANSFORMATIONS

FILTER

In [6]:
high_income = loan_df.filter(col("Income") > 60000)
high_income.show(5)

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14032| 24|  MALE|       DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|   AUTOMOBILE|     35,232|      5|      33,333|               1|                 2|
|    IB14042| 25|FEMALE|             DOCTOR|        SINGLE|          4| 60111|      27111|            5|   TRAVELLING| 12,90,929 |      4|      18,000|               1|                 0|
|    IB14082| 60|FEMALE|            TEACHER|       MARRIED|          5| 70000|      40000|            9|    GOLD LOAN|  2,57,789 |      4|      10,058|               4|                 3|
|    IB14089| 25|  MALE|          PROFESSOR|        SINGLE|          5| 62145|      31254|            4|  BOOK STORES| 12,45,789 |      6|      48,596|               6|                 5|
|    1B14094| 49|  MALE|ASSISTANT PROFESSOR|       MARRIED|          5| 65214|      42589|            5|      HOUSING|  9,85,412 |      5|      11,254|               1|                 2|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 5 rows

In [8]:
credit_df = spark.read.csv("credit card.csv",header=True,inferSchema=True)
credit_df.show(5)

+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|RowNumber|CustomerId| Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
|        1|  15634602|Hargrave|        619|   France|Female| 42|     2|      0.0|            1|             1|      101348.88|     1|
|        2|  15647311|    Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|             1|      112542.58|     0|
|        3|  15619304|    Onio|        502|   France|Female| 42|     8| 159660.8|            3|             0|      113931.57|     1|
|        4|  15701354|    Boni|        699|   France|Female| 39|     1|      0.0|            2|             0|       93826.63|     0|
|        5|  15737888|Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|             1|        79084.1|     0|
+---------+----------+--------+-----------+---------+------+---+------+---------+-------------+--------------+---------------+------+
only showing top 5 rows

GROUP BY

In [34]:
loan_df.groupBy("Loan Category").count().show()

+------------------+-----+
|     Loan Category|count|
+------------------+-----+
|           HOUSING|   67|
|        TRAVELLING|   53|
|       BOOK STORES|    7|
|       AGRICULTURE|   12|
|         GOLD LOAN|   77|
|  EDUCATIONAL LOAN|   20|
|        AUTOMOBILE|   60|
|          BUSINESS|   24|
|COMPUTER SOFTWARES|   35|
|           DINNING|   14|
|          SHOPPING|   35|
|       RESTAURANTS|   41|
|       ELECTRONICS|   14|
|          BUILDING|    7|
|        RESTAURANT|   20|
|   HOME APPLIANCES|   14|
+------------------+-----+

JOINS

Left Join

In [17]:
from pyspark.sql.functions import regexp_extract, col

# Extract number from 'C001' â†’ 1
loan_df_clean = loan_df.withColumn("CustomerId", regexp_extract("Customer_ID", r'\d+', 0).cast("int"))

# Load credit card data
credit_df = spark.read.csv("credit card.csv", header=True, inferSchema=True)

# Now join on numeric CustomerId
joined_df = loan_df_clean.join(credit_df, on="CustomerId", how="left")

# Show result
joined_df.select("Customer_ID", "Surname", "Loan Amount", "Balance").show(5)

+-----------+-------+-----------+-------+
|Customer_ID|Surname|Loan Amount|Balance|
+-----------+-------+-----------+-------+
|    IB14001|   NULL| 10,00,000 |   NULL|
|    IB14008|   NULL|     50,000|   NULL|
|    IB14012|   NULL|     75,000|   NULL|
|    IB14018|   NULL|  6,00,000 |   NULL|
|    IB14022|   NULL|  2,00,000 |   NULL|
+-----------+-------+-----------+-------+
only showing top 5 rows

Inner Join

In [32]:
loan_df_clean.join(credit_df, on="CustomerId", how="inner").select("Customer_ID", "Surname", "Balance").show()

+-----------+-------+-------+
|Customer_ID|Surname|Balance|
+-----------+-------+-------+
+-----------+-------+-------+

Left Join

In [30]:
loan_df_clean.join(credit_df, on="CustomerId", how="left").select("Customer_ID", "Surname", "Balance").show()

+-----------+-------+-------+
|Customer_ID|Surname|Balance|
+-----------+-------+-------+
|    IB14001|   NULL|   NULL|
|    IB14008|   NULL|   NULL|
|    IB14012|   NULL|   NULL|
|    IB14018|   NULL|   NULL|
|    IB14022|   NULL|   NULL|
|    IB14024|   NULL|   NULL|
|    IB14025|   NULL|   NULL|
|    IB14027|   NULL|   NULL|
|    IB14029|   NULL|   NULL|
|    IB14031|   NULL|   NULL|
|    IB14032|   NULL|   NULL|
|    IB14034|   NULL|   NULL|
|    IB14037|   NULL|   NULL|
|    IB14039|   NULL|   NULL|
|    IB14041|   NULL|   NULL|
|    IB14042|   NULL|   NULL|
|    IB14045|   NULL|   NULL|
|    IB14049|   NULL|   NULL|
|    IB14050|   NULL|   NULL|
|    IB14054|   NULL|   NULL|
+-----------+-------+-------+
only showing top 20 rows

Right Join

In [33]:
loan_df_clean.join(credit_df, on="CustomerId", how="right").select("Customer_ID", "Surname", "Balance").show()

+-----------+---------+---------+
|Customer_ID|  Surname|  Balance|
+-----------+---------+---------+
|       NULL| Hargrave|      0.0|
|       NULL|     Hill| 83807.86|
|       NULL|     Onio| 159660.8|
|       NULL|     Boni|      0.0|
|       NULL| Mitchell|125510.82|
|       NULL|      Chu|113755.78|
|       NULL| Bartlett|      0.0|
|       NULL|   Obinna|115046.74|
|       NULL|       He|142051.07|
|       NULL|       H?|134603.88|
|       NULL|   Bearce|102016.72|
|       NULL|  Andrews|      0.0|
|       NULL|      Kay|      0.0|
|       NULL|     Chin|      0.0|
|       NULL|    Scott|      0.0|
|       NULL|  Goforth|143129.41|
|       NULL|    Romeo|132602.88|
|       NULL|Henderson|      0.0|
|       NULL|  Muldrow|      0.0|
|       NULL|      Hao|      0.0|
+-----------+---------+---------+
only showing top 20 rows

AGGREGATION

In [19]:
loan_df = loan_df.withColumn("Loan Amount", col("Loan Amount").cast("int"))

loan_df.groupBy("Marital Status").agg(
    sum("Loan Amount").alias("TotalLoan"),
    avg("Loan Amount").alias("AvgLoan")
).show()

+--------------+---------+-------+
|Marital Status|TotalLoan|AvgLoan|
+--------------+---------+-------+
|        SINGLE|     NULL|   NULL|
|       MARRIED|     NULL|   NULL|
+--------------+---------+-------+

Max & Min Income per Occupation

In [27]:
loan_df.groupBy("Occupation").agg(
    {"Income": "max", "Income": "min"}
).show()

+--------------------+-----------+
|          Occupation|min(Income)|
+--------------------+-----------+
|      CIVIL ENGINEER|      46880|
|     FIRE DEPARTMENT|      40000|
|          ACCOUNTANT|      43350|
|        BANK MANAGER|      29565|
|      SYSTEM OFFICER|      56780|
|           NUTRITION|      55650|
|           DIETICIAN|      40060|
|               CLERK|      32714|
|   SOFTWARE ENGINEER|      30454|
|AGRICULTURAL ENGI...|      66610|
|   ASSISTANT MANAGER|      45612|
|             TEACHER|      30801|
| ASSISTANT PROFESSOR|      34999|
|     SYSTEM ENGINEER|      52364|
| CHARTERED APPRAISER|      58661|
|                NAVY|      39213|
|              POLICE|      33312|
|            BUSINESS|      34444|
|              FARMER|      51162|
|              DRIVER|      30000|
+--------------------+-----------+
only showing top 20 rows

Standard Deviation of Expenditure by Occupation

In [28]:
from pyspark.sql.functions import stddev

loan_df.groupBy("Occupation").agg(stddev("Expenditure").alias("stddev_exp")).show()

+--------------------+------------------+
|          Occupation|        stddev_exp|
+--------------------+------------------+
|      CIVIL ENGINEER| 5841.266041421728|
|     FIRE DEPARTMENT| 6316.349616093719|
|          ACCOUNTANT| 5374.031066598136|
|        BANK MANAGER|11217.422514451566|
|      SYSTEM OFFICER| 4707.928445717925|
|           NUTRITION|              NULL|
|           DIETICIAN|11835.213718781371|
|               CLERK| 6326.715487153237|
|   SOFTWARE ENGINEER|  7655.72613366057|
|AGRICULTURAL ENGI...|12875.871787405862|
|   ASSISTANT MANAGER|  7213.34187923092|
|             TEACHER| 8613.057535672191|
| ASSISTANT PROFESSOR| 9242.661288527479|
|     SYSTEM ENGINEER|               0.0|
| CHARTERED APPRAISER| 9296.023820576585|
|                NAVY| 9598.032914569874|
|              POLICE|11188.968716605497|
|            BUSINESS| 9747.383497636687|
|              FARMER|12349.656280159996|
|              DRIVER| 8545.589693279355|
+--------------------+------------------+
only showing top 20 rows

Collect List of Loan Categories by Marital Status

In [29]:
from pyspark.sql.functions import collect_list

loan_df.groupBy("Marital Status").agg(collect_list("Loan Category").alias("loan_types")).show(truncate=False)

+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Marital Status|loan_types                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|SINGLE        |[HOUSING, TRAVELLING, AUTOMOBILE, AUTOMOBILE, AUTOMOBILE, TRAVELLING, BOOK STORES, RESTAURANTS, GOLD LOAN, BOOK STORES, AUTOMOBILE, GOLD LOAN, AUTOMOBILE, AUTOMOBILE, RESTAURANTS, TRAVELLING, AUTOMOBILE, AUTOMOBILE, RESTAURANTS, TRAVELLING, BOOK STORES, AUTOMOBILE, AUTOMOBILE, AUTOMOBILE, BOOK STORES, GOLD LOAN, AUTOMOBILE, EDUCATIONAL LOAN, AUTOMOBILE, TRAVELLING, AUTOMOBILE, TRAVELLING, RESTAURANTS, GOLD LOAN, SHOPPING, COMPUTER SOFTWARES, SHOPPING, RESTAURANTS, TRAVELLING, GOLD LOAN, HOME APPLIANCES, AUTOMOBILE, BUILDING, RESTAURANT, AGRICULTURE, GOLD LOAN, COMPUTER SOFTWARES, AUTOMOBILE, RESTAURANTS, HOUSING, AGRICULTURE, BUSINESS, GOLD LOAN, SHOPPING, RESTAURANTS, GOLD LOAN, AUTOMOBILE, RESTAURANT, BUSINESS, AUTOMOBILE, GOLD LOAN, RESTAURANT, HOUSING, HOUSING, GOLD LOAN, GOLD LOAN, AUTOMOBILE, ELECTRONICS, RESTAURANT, BUSINESS, AUTOMOBILE, GOLD LOAN, RESTAURANTS, SHOPPING, DINNING, BUSINESS, RESTAURANT, RESTAURANT, SHOPPING, HOUSING, HOUSING, RESTAURANTS, HOUSING, BUSINESS, BUSINESS, RESTAURANTS, HOUSING, HOUSING, BUSINESS, AGRICULTURE, COMPUTER SOFTWARES, RESTAURANT, BUSINESS, HOUSING, AUTOMOBILE, DINNING, GOLD LOAN, AUTOMOBILE, SHOPPING, GOLD LOAN, BUSINESS, RESTAURANT, GOLD LOAN, BUSINESS, RESTAURANT, RESTAURANTS, HOUSING, HOUSING, TRAVELLING, AGRICULTURE, GOLD LOAN, RESTAURANT, GOLD LOAN, EDUCATIONAL LOAN, EDUCATIONAL LOAN, BOOK STORES, GOLD LOAN, HOME APPLIANCES, EDUCATIONAL LOAN, GOLD LOAN, TRAVELLING, BUSINESS, RESTAURANT, GOLD LOAN, SHOPPING, HOUSING, HOUSING, HOUSING, SHOPPING, AUTOMOBILE, BUILDING, HOUSING, TRAVELLING, AUTOMOBILE, ELECTRONICS, RESTAURANT, BUSINESS, AUTOMOBILE, GOLD LOAN, HOUSING, SHOPPING, DINNING, BUSINESS, AUTOMOBILE, HOUSING, TRAVELLING]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    |

WINDOW FUNCTION

In [20]:
windowSpec = Window.partitionBy("Occupation").orderBy(col("Loan Amount").desc())

ranked_df = loan_df.withColumn("rank", row_number().over(windowSpec))
ranked_df.filter(col("rank") == 1).select("Customer_ID", "Occupation", "Loan Amount").show()

+-----------+--------------------+-----------+
|Customer_ID|          Occupation|Loan Amount|
+-----------+--------------------+-----------+
|    IB14039|     ACCOUNT MANAGER|       NULL|
|    IB14604|          ACCOUNTANT|       NULL|
|    IB14611|AGRICULTURAL ENGI...|       NULL|
|    IB14057|     AIRPORT OFFICER|       NULL|
|    IB14620|                ARMY|       NULL|
|    IB14113|   ASSISTANT MANAGER|       NULL|
|    IB14041| ASSISTANT PROFESSOR|       NULL|
|    IB14001|        BANK MANAGER|       NULL|
|    IB14565|            BUSINESS|       NULL|
|    IB14566| CHARTERED APPRAISER|       NULL|
|    IB14050|      CIVIL ENGINEER|       NULL|
|    IB14060|               CLERK|       NULL|
|    IB14111|   CORPORATE OFFICER|       NULL|
|    IB14032|        DATA ANALYST|       NULL|
|    IB14623|       DATA ENGINEER|       NULL|
|    IB14012|             DENTIST|       NULL|
|    IB14597|           DIETICIAN|       NULL|
|    IB14042|              DOCTOR|       NULL|
|    IB14109|              DRIVER|       NULL|
|    IB14085|         ELECTRICIAN|       NULL|
+-----------+--------------------+-----------+
only showing top 20 rows

In [26]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, rank, dense_rank

# Define a window partitioned by Gender and ordered by Income
window_spec = Window.partitionBy("Gender").orderBy(col("Income").desc())

# 1. Row number within each gender
loan_df.withColumn("row_num", row_number().over(window_spec)).show()

# 2. Rank of income within each gender
loan_df.withColumn("income_rank", rank().over(window_spec)).show()

# 3. Dense rank (no gaps in ranking)
loan_df.withColumn("income_dense_rank", dense_rank().over(window_spec)).show()

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|row_num|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-------+
|    IB14107| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|        AUTOMOBILE|       NULL|      5|      20,145|               3|                 4|      1|
|    IB14163| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|      2|
|    IB14256| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|      3|
|    IB14128| 46|FEMALE|              CLERK|       MARRIED|          3|750000|      25641|            5|         GOLD LOAN|       NULL|      4|      16,324|               3|                 4|      4|
|    IB14249| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|700000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|      5|
|    IB14557| 54|FEMALE|              PILOT|       MARRIED|          6| 98640|      43705|            8|COMPUTER SOFTWARES|       NULL|      8|       20536|               5|                 7|      6|
|    IB14699| 45|FEMALE|  SOFTWARE ENGINEER|        SINGLE|          4| 98199|      43464|            9|       ELECTRONICS|       NULL|      3|       86384|               4|                 8|      7|
|    IB14641| 42|FEMALE|             FARMER|       MARRIED|          5| 96681|      34686|            6|        TRAVELLING|       NULL|      8|       54198|               7|                 4|      8|
|    IB14889| 41|FEMALE|          DIETICIAN|        SINGLE|          3| 96501|      41529|            6|         GOLD LOAN|       NULL|      3|       35876|               2|                 8|      9|
|    IB14390| 43|FEMALE|       BANK MANAGER|       MARRIED|          6| 95247|      36035|            6|           HOUSING|       NULL|      7|       19931|               6|                 2|     10|
|    IB14620| 41|FEMALE|               ARMY|       MARRIED|          5| 93474|      32845|            4|         GOLD LOAN|       NULL|      6|       63046|               4|                 6|     11|
|    IB14585| 52|FEMALE|              PILOT|        SINGLE|          7| 91853|      39629|            4|        RESTAURANT|       NULL|      6|       85269|               4|                 8|     12|
|    IB14867| 46|FEMALE|CHARTERED APPRAISER|        SINGLE|          2| 91088|      42256|            5|  EDUCATIONAL LOAN|       NULL|      9|       37966|               1|                 5|     13|
|    IB14833| 52|FEMALE|          DIETICIAN|       MARRIED|          6| 90687|      49940|            6|          SHOPPING|       NULL|      6|       29454|               8|                 7|     14|
|    IB14813| 54|FEMALE|           BUSINESS|       MARRIED|          2| 89665|      22796|            3|        RESTAURANT|       NULL|      3|       14820|               2|                 7|     15|
|    IB14970| 54|FEMALE|              PILOT|       MARRIED|          6| 88640|      33705|            8|COMPUTER SOFTWARES|       NULL|      8|       25536|               5|                 7|     16|
|    IB14794| 32|FEMALE|CHARTERED APPRAISER|        SINGLE|          2| 88323|      40734|            5|           DINNING|       NULL|      5|       23946|               2|                 2|     17|
|    IB14714| 43|FEMALE|  SOFTWARE ENGINEER|        SINGLE|          5| 86970|      30379|            2|         GOLD LOAN|       NULL|      9|       13994|               5|                 7|     18|
|    IB14657| 44|FEMALE|               NAVY|        SINGLE|          2| 86269|      25280|            8|         GOLD LOAN|       NULL|      4|       80308|               0|                 7|     19|
|    IB14563| 42|FEMALE|               NAVY|        SINGLE|          3| 86184|      47555|            3|        AUTOMOBILE|       NULL|      5|       54235|               6|                 1|     20|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-------+
only showing top 20 rows

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-----------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|income_rank|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-----------+
|    IB14107| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|        AUTOMOBILE|       NULL|      5|      20,145|               3|                 4|          1|
|    IB14163| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|          1|
|    IB14256| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|          1|
|    IB14128| 46|FEMALE|              CLERK|       MARRIED|          3|750000|      25641|            5|         GOLD LOAN|       NULL|      4|      16,324|               3|                 4|          4|
|    IB14249| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|700000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|          5|
|    IB14557| 54|FEMALE|              PILOT|       MARRIED|          6| 98640|      43705|            8|COMPUTER SOFTWARES|       NULL|      8|       20536|               5|                 7|          6|
|    IB14699| 45|FEMALE|  SOFTWARE ENGINEER|        SINGLE|          4| 98199|      43464|            9|       ELECTRONICS|       NULL|      3|       86384|               4|                 8|          7|
|    IB14641| 42|FEMALE|             FARMER|       MARRIED|          5| 96681|      34686|            6|        TRAVELLING|       NULL|      8|       54198|               7|                 4|          8|
|    IB14889| 41|FEMALE|          DIETICIAN|        SINGLE|          3| 96501|      41529|            6|         GOLD LOAN|       NULL|      3|       35876|               2|                 8|          9|
|    IB14390| 43|FEMALE|       BANK MANAGER|       MARRIED|          6| 95247|      36035|            6|           HOUSING|       NULL|      7|       19931|               6|                 2|         10|
|    IB14620| 41|FEMALE|               ARMY|       MARRIED|          5| 93474|      32845|            4|         GOLD LOAN|       NULL|      6|       63046|               4|                 6|         11|
|    IB14585| 52|FEMALE|              PILOT|        SINGLE|          7| 91853|      39629|            4|        RESTAURANT|       NULL|      6|       85269|               4|                 8|         12|
|    IB14867| 46|FEMALE|CHARTERED APPRAISER|        SINGLE|          2| 91088|      42256|            5|  EDUCATIONAL LOAN|       NULL|      9|       37966|               1|                 5|         13|
|    IB14833| 52|FEMALE|          DIETICIAN|       MARRIED|          6| 90687|      49940|            6|          SHOPPING|       NULL|      6|       29454|               8|                 7|         14|
|    IB14813| 54|FEMALE|           BUSINESS|       MARRIED|          2| 89665|      22796|            3|        RESTAURANT|       NULL|      3|       14820|               2|                 7|         15|
|    IB14970| 54|FEMALE|              PILOT|       MARRIED|          6| 88640|      33705|            8|COMPUTER SOFTWARES|       NULL|      8|       25536|               5|                 7|         16|
|    IB14794| 32|FEMALE|CHARTERED APPRAISER|        SINGLE|          2| 88323|      40734|            5|           DINNING|       NULL|      5|       23946|               2|                 2|         17|
|    IB14714| 43|FEMALE|  SOFTWARE ENGINEER|        SINGLE|          5| 86970|      30379|            2|         GOLD LOAN|       NULL|      9|       13994|               5|                 7|         18|
|    IB14657| 44|FEMALE|               NAVY|        SINGLE|          2| 86269|      25280|            8|         GOLD LOAN|       NULL|      4|       80308|               0|                 7|         19|
|    IB14563| 42|FEMALE|               NAVY|        SINGLE|          3| 86184|      47555|            3|        AUTOMOBILE|       NULL|      5|       54235|               6|                 1|         20|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-----------+
only showing top 20 rows

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-----------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|income_dense_rank|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-----------------+
|    IB14107| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|        AUTOMOBILE|       NULL|      5|      20,145|               3|                 4|                1|
|    IB14163| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|                1|
|    IB14256| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|800000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|                1|
|    IB14128| 46|FEMALE|              CLERK|       MARRIED|          3|750000|      25641|            5|         GOLD LOAN|       NULL|      4|      16,324|               3|                 4|                2|
|    IB14249| 44|FEMALE|    ACCOUNT MANAGER|       MARRIED|          4|700000|      15632|            8|COMPUTER SOFTWARES|       NULL|      5|      20,145|               3|                 4|                3|
|    IB14557| 54|FEMALE|              PILOT|       MARRIED|          6| 98640|      43705|            8|COMPUTER SOFTWARES|       NULL|      8|       20536|               5|                 7|                4|
|    IB14699| 45|FEMALE|  SOFTWARE ENGINEER|        SINGLE|          4| 98199|      43464|            9|       ELECTRONICS|       NULL|      3|       86384|               4|                 8|                5|
|    IB14641| 42|FEMALE|             FARMER|       MARRIED|          5| 96681|      34686|            6|        TRAVELLING|       NULL|      8|       54198|               7|                 4|                6|
|    IB14889| 41|FEMALE|          DIETICIAN|        SINGLE|          3| 96501|      41529|            6|         GOLD LOAN|       NULL|      3|       35876|               2|                 8|                7|
|    IB14390| 43|FEMALE|       BANK MANAGER|       MARRIED|          6| 95247|      36035|            6|           HOUSING|       NULL|      7|       19931|               6|                 2|                8|
|    IB14620| 41|FEMALE|               ARMY|       MARRIED|          5| 93474|      32845|            4|         GOLD LOAN|       NULL|      6|       63046|               4|                 6|                9|
|    IB14585| 52|FEMALE|              PILOT|        SINGLE|          7| 91853|      39629|            4|        RESTAURANT|       NULL|      6|       85269|               4|                 8|               10|
|    IB14867| 46|FEMALE|CHARTERED APPRAISER|        SINGLE|          2| 91088|      42256|            5|  EDUCATIONAL LOAN|       NULL|      9|       37966|               1|                 5|               11|
|    IB14833| 52|FEMALE|          DIETICIAN|       MARRIED|          6| 90687|      49940|            6|          SHOPPING|       NULL|      6|       29454|               8|                 7|               12|
|    IB14813| 54|FEMALE|           BUSINESS|       MARRIED|          2| 89665|      22796|            3|        RESTAURANT|       NULL|      3|       14820|               2|                 7|               13|
|    IB14970| 54|FEMALE|              PILOT|       MARRIED|          6| 88640|      33705|            8|COMPUTER SOFTWARES|       NULL|      8|       25536|               5|                 7|               14|
|    IB14794| 32|FEMALE|CHARTERED APPRAISER|        SINGLE|          2| 88323|      40734|            5|           DINNING|       NULL|      5|       23946|               2|                 2|               15|
|    IB14714| 43|FEMALE|  SOFTWARE ENGINEER|        SINGLE|          5| 86970|      30379|            2|         GOLD LOAN|       NULL|      9|       13994|               5|                 7|               16|
|    IB14657| 44|FEMALE|               NAVY|        SINGLE|          2| 86269|      25280|            8|         GOLD LOAN|       NULL|      4|       80308|               0|                 7|               17|
|    IB14563| 42|FEMALE|               NAVY|        SINGLE|          3| 86184|      47555|            3|        AUTOMOBILE|       NULL|      5|       54235|               6|                 1|               18|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+-----------------+
only showing top 20 rows

ACTION IN PYSPARK

SHOW()

In [21]:
loan_df.show(3)

+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING|       NULL|      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|       NULL|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|       NULL|      6|      20,876|               3|                 1|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
only showing top 3 rows

COUNT()

In [22]:
loan_df.count()

500

COLLECT()

In [23]:
loan_df.collect()

[Row(Customer_ID='IB14001', Age=30, Gender='MALE', Occupation='BANK MANAGER', Marital Status='SINGLE', Family Size=4, Income=50000, Expenditure=22199, Use Frequency=6, Loan Category='HOUSING', Loan Amount=None, Overdue=5,  Debt Record='42,898',  Returned Cheque=6,  Dishonour of Bill=9),
 Row(Customer_ID='IB14008', Age=44, Gender='MALE', Occupation='PROFESSOR', Marital Status='MARRIED', Family Size=6, Income=51000, Expenditure=19999, Use Frequency=4, Loan Category='SHOPPING', Loan Amount=None, Overdue=3,  Debt Record='33,999',  Returned Cheque=1,  Dishonour of Bill=5),
 Row(Customer_ID='IB14012', Age=30, Gender='FEMALE', Occupation='DENTIST', Marital Status='SINGLE', Family Size=3, Income=58450, Expenditure=27675, Use Frequency=5, Loan Category='TRAVELLING', Loan Amount=None, Overdue=6,  Debt Record='20,876',  Returned Cheque=3,  Dishonour of Bill=1),
 Row(Customer_ID='IB14018', Age=29, Gender='MALE', Occupation='TEACHER', Marital Status='MARRIED', Family Size=5, Income=45767, Expenditure=12787, Use Frequency=3, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=7,  Debt Record='11,000',  Returned Cheque=0,  Dishonour of Bill=4),
 Row(Customer_ID='IB14022', Age=34, Gender='MALE', Occupation='POLICE', Marital Status='SINGLE', Family Size=4, Income=43521, Expenditure=11999, Use Frequency=3, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=2,  Debt Record='43,898',  Returned Cheque=1,  Dishonour of Bill=2),
 Row(Customer_ID='IB14024', Age=55, Gender='FEMALE', Occupation='NURSE', Marital Status='MARRIED', Family Size=6, Income=34999, Expenditure=19888, Use Frequency=4, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=1,  Debt Record='50,000',  Returned Cheque=0,  Dishonour of Bill=3),
 Row(Customer_ID='IB14025', Age=39, Gender='FEMALE', Occupation='TEACHER', Marital Status='MARRIED', Family Size=6, Income=46619, Expenditure=18675, Use Frequency=4, Loan Category='HOUSING', Loan Amount=None, Overdue=8,  Debt Record='29,999',  Returned Cheque=6,  Dishonour of Bill=8),
 Row(Customer_ID='IB14027', Age=51, Gender='MALE', Occupation='SYSTEM MANAGER', Marital Status='MARRIED', Family Size=3, Income=49999, Expenditure=19111, Use Frequency=5, Loan Category='RESTAURANTS', Loan Amount=None, Overdue=8,  Debt Record='13,000',  Returned Cheque=2,  Dishonour of Bill=5),
 Row(Customer_ID='IB14029', Age=24, Gender='FEMALE', Occupation='TEACHER', Marital Status='SINGLE', Family Size=3, Income=45008, Expenditure=17454, Use Frequency=4, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=9,  Debt Record='51,987',  Returned Cheque=4,  Dishonour of Bill=7),
 Row(Customer_ID='IB14031', Age=37, Gender='FEMALE', Occupation='SOFTWARE ENGINEER', Marital Status='MARRIED', Family Size=5, Income=55999, Expenditure=23999, Use Frequency=5, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=2,  Debt Record='0',  Returned Cheque=5,  Dishonour of Bill=3),
 Row(Customer_ID='IB14032', Age=24, Gender='MALE', Occupation='DATA ANALYST', Marital Status='SINGLE', Family Size=4, Income=60111, Expenditure=28999, Use Frequency=6, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=5,  Debt Record='33,333',  Returned Cheque=1,  Dishonour of Bill=2),
 Row(Customer_ID='IB14034', Age=32, Gender='MALE', Occupation='PRODUCT ENGINEER', Marital Status='MARRIED', Family Size=6, Income=None, Expenditure=29000, Use Frequency=7, Loan Category='COMPUTER SOFTWARES', Loan Amount=None, Overdue=6,  Debt Record='4,500',  Returned Cheque=5,  Dishonour of Bill=4),
 Row(Customer_ID='IB14037', Age=54, Gender='FEMALE', Occupation='TEACHER', Marital Status='MARRIED', Family Size=5, Income=48099, Expenditure=19999, Use Frequency=4, Loan Category='RESTAURANTS', Loan Amount=None, Overdue=1,  Debt Record='12,000',  Returned Cheque=7,  Dishonour of Bill=5),
 Row(Customer_ID='IB14039', Age=45, Gender='MALE', Occupation='ACCOUNT MANAGER', Marital Status='MARRIED', Family Size=7, Income=45777, Expenditure=18452, Use Frequency=4, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=7,  Debt Record='39,999',  Returned Cheque=8,  Dishonour of Bill=1),
 Row(Customer_ID='IB14041', Age=59, Gender='FEMALE', Occupation='ASSISTANT PROFESSOR', Marital Status='MARRIED', Family Size=4, Income=50999, Expenditure=22999, Use Frequency=5, Loan Category='EDUCATIONAL LOAN', Loan Amount=None, Overdue=3,  Debt Record='9,000',  Returned Cheque=9,  Dishonour of Bill=9),
 Row(Customer_ID='IB14042', Age=25, Gender='FEMALE', Occupation='DOCTOR', Marital Status='SINGLE', Family Size=4, Income=60111, Expenditure=27111, Use Frequency=5, Loan Category='TRAVELLING', Loan Amount=None, Overdue=4,  Debt Record='18,000',  Returned Cheque=1,  Dishonour of Bill=0),
 Row(Customer_ID='IB14045', Age=31, Gender='MALE', Occupation='STORE KEEPER', Marital Status='SINGLE', Family Size=5, Income=40999, Expenditure=11999, Use Frequency=3, Loan Category='BOOK STORES', Loan Amount=None, Overdue=1,  Debt Record='4,500',  Returned Cheque=0,  Dishonour of Bill=1),
 Row(Customer_ID='IB14049', Age=49, Gender='MALE', Occupation='BANK MANAGER', Marital Status='MARRIED', Family Size=4, Income=45999, Expenditure=14500, Use Frequency=4, Loan Category='TRAVELLING', Loan Amount=None, Overdue=4,  Debt Record='6,700',  Returned Cheque=7,  Dishonour of Bill=3),
 Row(Customer_ID='IB14050', Age=56, Gender='MALE', Occupation='CIVIL ENGINEER', Marital Status='MARRIED', Family Size=4, Income=None, Expenditure=13999, Use Frequency=3, Loan Category='HOUSING', Loan Amount=None, Overdue=6,  Debt Record='19,999',  Returned Cheque=4,  Dishonour of Bill=2),
 Row(Customer_ID='IB14054', Age=58, Gender='FEMALE', Occupation='DOCTOR', Marital Status='MARRIED', Family Size=5, Income=60000, Expenditure=25000, Use Frequency=5, Loan Category='HOUSING', Loan Amount=None, Overdue=5,  Debt Record='21,000',  Returned Cheque=9,  Dishonour of Bill=0),
 Row(Customer_ID='IB14057', Age=25, Gender='MALE', Occupation='AIRPORT OFFICER', Marital Status='SINGLE', Family Size=4, Income=40000, Expenditure=18888, Use Frequency=3, Loan Category='RESTAURANTS', Loan Amount=None, Overdue=8,  Debt Record='11,111',  Returned Cheque=1,  Dishonour of Bill=7),
 Row(Customer_ID='IB14060', Age=36, Gender='FEMALE', Occupation='CLERK', Marital Status='MARRIED', Family Size=4, Income=35000, Expenditure=15000, Use Frequency=3, Loan Category='HOUSING', Loan Amount=None, Overdue=2,  Debt Record='5,600',  Returned Cheque=4,  Dishonour of Bill=8),
 Row(Customer_ID='IB14070', Age=40, Gender='MALE', Occupation='PUBLIC WORKS', Marital Status='MARRIED', Family Size=4, Income=38000, Expenditure=20000, Use Frequency=3, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=9,  Debt Record='19,954',  Returned Cheque=3,  Dishonour of Bill=2),
 Row(Customer_ID='IB14078', Age=45, Gender='FEMALE', Occupation='FIRE DEPARTMENT', Marital Status='MARRIED', Family Size=4, Income=40000, Expenditure=18888, Use Frequency=4, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=1,  Debt Record='0',  Returned Cheque=2,  Dishonour of Bill=1),
 Row(Customer_ID='IB14079', Age=25, Gender='MALE', Occupation='CLERK', Marital Status='SINGLE', Family Size=3, Income=35000, Expenditure=9000, Use Frequency=2, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=3,  Debt Record='12,584',  Returned Cheque=1,  Dishonour of Bill=2),
 Row(Customer_ID='IB14082', Age=60, Gender='FEMALE', Occupation='TEACHER', Marital Status='MARRIED', Family Size=5, Income=70000, Expenditure=40000, Use Frequency=9, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=4,  Debt Record='10,058',  Returned Cheque=4,  Dishonour of Bill=3),
 Row(Customer_ID='IB14085', Age=30, Gender='MALE', Occupation='ELECTRICIAN', Marital Status='MARRIED', Family Size=4, Income=30000, Expenditure=15000, Use Frequency=5, Loan Category='HOUSING', Loan Amount=None, Overdue=5,  Debt Record='32,154',  Returned Cheque=5,  Dishonour of Bill=5),
 Row(Customer_ID='IB14086', Age=51, Gender='FEMALE', Occupation='TECHNICIAN', Marital Status='MARRIED', Family Size=5, Income=30000, Expenditure=None, Use Frequency=5, Loan Category='RESTAURANTS', Loan Amount=None, Overdue=7,  Debt Record='52,634',  Returned Cheque=4,  Dishonour of Bill=10),
 Row(Customer_ID='IB14089', Age=25, Gender='MALE', Occupation='PROFESSOR', Marital Status='SINGLE', Family Size=5, Income=62145, Expenditure=31254, Use Frequency=4, Loan Category='BOOK STORES', Loan Amount=None, Overdue=6,  Debt Record='48,596',  Returned Cheque=6,  Dishonour of Bill=5),
 Row(Customer_ID='IB14092', Age=47, Gender='MALE', Occupation='SYSTEM ENGINEER', Marital Status='MARRIED', Family Size=4, Income=52364, Expenditure=45612, Use Frequency=3, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=4,  Debt Record='67,451',  Returned Cheque=5,  Dishonour of Bill=4),
 Row(Customer_ID='1B14093', Age=21, Gender='FEMALE', Occupation='MANAGER', Marital Status='SINGLE', Family Size=3, Income=42516, Expenditure=24567, Use Frequency=7, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=8,  Debt Record='89,652',  Returned Cheque=2,  Dishonour of Bill=3),
 Row(Customer_ID='1B14094', Age=49, Gender='MALE', Occupation='ASSISTANT PROFESSOR', Marital Status='MARRIED', Family Size=5, Income=65214, Expenditure=42589, Use Frequency=5, Loan Category='HOUSING', Loan Amount=None, Overdue=5,  Debt Record='11,254',  Returned Cheque=1,  Dishonour of Bill=2),
 Row(Customer_ID='IB14096', Age=33, Gender='FEMALE', Occupation='CLERK', Marital Status='MARRIED', Family Size=3, Income=35684, Expenditure=15247, Use Frequency=3, Loan Category='RESTAURANTS', Loan Amount=None, Overdue=3,  Debt Record='13,547',  Returned Cheque=3,  Dishonour of Bill=2),
 Row(Customer_ID='IB14099', Age=47, Gender='FEMALE', Occupation='DOCTOR', Marital Status='MARRIED', Family Size=4, Income=72154, Expenditure=45286, Use Frequency=4, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=2,  Debt Record='19,524',  Returned Cheque=5,  Dishonour of Bill=2),
 Row(Customer_ID='IB14101', Age=33, Gender='FEMALE', Occupation='PRODUCT ENGINEER', Marital Status='MARRIED', Family Size=5, Income=None, Expenditure=45812, Use Frequency=5, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=4,  Debt Record='17,524',  Returned Cheque=6,  Dishonour of Bill=3),
 Row(Customer_ID='IB14104', Age=54, Gender='MALE', Occupation='AIRPORT OFFICER', Marital Status='MARRIED', Family Size=6, Income=80000, Expenditure=32541, Use Frequency=2, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=1,  Debt Record='16,599',  Returned Cheque=2,  Dishonour of Bill=3),
 Row(Customer_ID='IB14106', Age=29, Gender='MALE', Occupation='FIRE DEPARTMENT', Marital Status='MARRIED', Family Size=5, Income=45213, Expenditure=32457, Use Frequency=9, Loan Category='TRAVELLING', Loan Amount=None, Overdue=7,  Debt Record='90,000',  Returned Cheque=2,  Dishonour of Bill=5),
 Row(Customer_ID='IB14107', Age=44, Gender='FEMALE', Occupation='ACCOUNT MANAGER', Marital Status='MARRIED', Family Size=4, Income=800000, Expenditure=15632, Use Frequency=8, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=5,  Debt Record='20,145',  Returned Cheque=3,  Dishonour of Bill=4),
 Row(Customer_ID='IB14109', Age=56, Gender='MALE', Occupation='DRIVER', Marital Status='MARRIED', Family Size=5, Income=30000, Expenditure=15426, Use Frequency=7, Loan Category='TRAVELLING', Loan Amount=None, Overdue=6,  Debt Record='20,000',  Returned Cheque=4,  Dishonour of Bill=6),
 Row(Customer_ID='IB14111', Age=57, Gender='FEMALE', Occupation='CORPORATE OFFICER', Marital Status='MARRIED', Family Size=3, Income=52143, Expenditure=None, Use Frequency=4, Loan Category='COMPUTER SOFTWARES', Loan Amount=None, Overdue=4,  Debt Record='11,111',  Returned Cheque=3,  Dishonour of Bill=2),
 Row(Customer_ID='IB14113', Age=49, Gender='MALE', Occupation='ASSISTANT MANAGER', Marital Status='MARRIED', Family Size=7, Income=45612, Expenditure=39542, Use Frequency=3, Loan Category='SHOPPING', Loan Amount=None, Overdue=7,  Debt Record='65,412',  Returned Cheque=3,  Dishonour of Bill=2),
 Row(Customer_ID='IB14115', Age=41, Gender='MALE', Occupation='BANK MANAGER', Marital Status='MARRIED', Family Size=6, Income=64125, Expenditure=21246, Use Frequency=6, Loan Category='TRAVELLING', Loan Amount=None, Overdue=5,  Debt Record='16,524',  Returned Cheque=3,  Dishonour of Bill=3),
 Row(Customer_ID='IB14117', Age=39, Gender='FEMALE', Occupation='SYSTEM OFFICER', Marital Status='MARRIED', Family Size=6, Income=None, Expenditure=32541, Use Frequency=5, Loan Category='EDUCATIONAL LOAN', Loan Amount=None, Overdue=3,  Debt Record='14,256',  Returned Cheque=4,  Dishonour of Bill=4),
 Row(Customer_ID='IB14120', Age=47, Gender='FEMALE', Occupation='TEACHER', Marital Status='MARRIED', Family Size=3, Income=50000, Expenditure=42563, Use Frequency=4, Loan Category='RESTAURANTS', Loan Amount=None, Overdue=6,  Debt Record='45,127',  Returned Cheque=2,  Dishonour of Bill=3),
 Row(Customer_ID='IB14121', Age=33, Gender='MALE', Occupation='DOCTOR', Marital Status='MARRIED', Family Size=6, Income=70000, Expenditure=12541, Use Frequency=8, Loan Category='HOUSING', Loan Amount=None, Overdue=4,  Debt Record='19,541',  Returned Cheque=1,  Dishonour of Bill=3),
 Row(Customer_ID='IB14123', Age=36, Gender='MALE', Occupation='ELECTRICIAN', Marital Status='MARRIED', Family Size=2, Income=36985, Expenditure=25648, Use Frequency=6, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=7,  Debt Record='20,000',  Returned Cheque=5,  Dishonour of Bill=3),
 Row(Customer_ID='IB14125', Age=29, Gender='FEMALE', Occupation='TEACHER', Marital Status='MARRIED', Family Size=4, Income=59999, Expenditure=42568, Use Frequency=4, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=5,  Debt Record='17,452',  Returned Cheque=2,  Dishonour of Bill=2),
 Row(Customer_ID='IB14126', Age=57, Gender='MALE', Occupation='FIRE DEPARTMENT', Marital Status='MARRIED', Family Size=5, Income=54123, Expenditure=None, Use Frequency=7, Loan Category='RESTAURANTS', Loan Amount=None, Overdue=6,  Debt Record='18,524',  Returned Cheque=2,  Dishonour of Bill=1),
 Row(Customer_ID='IB14128', Age=46, Gender='FEMALE', Occupation='CLERK', Marital Status='MARRIED', Family Size=3, Income=750000, Expenditure=25641, Use Frequency=5, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=4,  Debt Record='16,324',  Returned Cheque=3,  Dishonour of Bill=4),
 Row(Customer_ID='IB14130', Age=43, Gender='MALE', Occupation='PRODUCT ENGINEER', Marital Status='MARRIED', Family Size=4, Income=50147, Expenditure=45863, Use Frequency=8, Loan Category='COMPUTER SOFTWARES', Loan Amount=None, Overdue=8,  Debt Record='19,999',  Returned Cheque=3,  Dishonour of Bill=5),
 Row(Customer_ID='IB14134', Age=33, Gender='MALE', Occupation='DOCTOR', Marital Status='MARRIED', Family Size=6, Income=70000, Expenditure=33541, Use Frequency=8, Loan Category='BUILDING', Loan Amount=None, Overdue=4,  Debt Record='19,541',  Returned Cheque=1,  Dishonour of Bill=3),
 Row(Customer_ID='IB14136', Age=36, Gender='MALE', Occupation='ELECTRICIAN', Marital Status='MARRIED', Family Size=2, Income=36985, Expenditure=25648, Use Frequency=6, Loan Category='ELECTRONICS', Loan Amount=None, Overdue=7,  Debt Record='20,000',  Returned Cheque=5,  Dishonour of Bill=3),
 Row(Customer_ID='IB14138', Age=27, Gender='FEMALE', Occupation='SOFTWARE ENGINEER', Marital Status='SINGLE', Family Size=4, Income=40000, Expenditure=22000, Use Frequency=4, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=4,  Debt Record='15,647',  Returned Cheque=5,  Dishonour of Bill=3),
 Row(Customer_ID='IB14140', Age=45, Gender='MALE', Occupation='BANK MANAGER', Marital Status='MARRIED', Family Size=6, Income=55670, Expenditure=32500, Use Frequency=5, Loan Category='TRAVELLING', Loan Amount=None, Overdue=3,  Debt Record='34,600',  Returned Cheque=4,  Dishonour of Bill=4),
 Row(Customer_ID='IB14143', Age=34, Gender='FEMALE', Occupation='TEACHER', Marital Status='MARRIED', Family Size=4, Income=45389, Expenditure=None, Use Frequency=5, Loan Category='HOME APPLIANCES', Loan Amount=None, Overdue=4,  Debt Record='24,000',  Returned Cheque=4,  Dishonour of Bill=3),
 Row(Customer_ID='IB14145', Age=45, Gender='FEMALE', Occupation='CLERK', Marital Status='MARRIED', Family Size=5, Income=40560, Expenditure=38789, Use Frequency=6, Loan Category='TRAVELLING', Loan Amount=None, Overdue=6,  Debt Record='29,650',  Returned Cheque=6,  Dishonour of Bill=7),
 Row(Customer_ID='IB14146', Age=56, Gender='MALE', Occupation='FIRE DEPARTMENT', Marital Status='MARRIED', Family Size=6, Income=67890, Expenditure=34567, Use Frequency=5, Loan Category='TRAVELLING', Loan Amount=None, Overdue=5,  Debt Record='13,560',  Returned Cheque=3,  Dishonour of Bill=4),
 Row(Customer_ID='IBI4148', Age=46, Gender='MALE', Occupation='SYSTEM OFFICER', Marital Status='MARRIED', Family Size=5, Income=56780, Expenditure=24560, Use Frequency=5, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=6,  Debt Record='23,700',  Returned Cheque=6,  Dishonour of Bill=4),
 Row(Customer_ID='IBI4150', Age=38, Gender='FEMALE', Occupation='ACCOUNT MANAGER', Marital Status='MARRIED', Family Size=4, Income=45600, Expenditure=19870, Use Frequency=4, Loan Category='HOME APPLIANCES', Loan Amount=None, Overdue=5,  Debt Record='35,700',  Returned Cheque=5,  Dishonour of Bill=4),
 Row(Customer_ID='IBI4153', Age=58, Gender='MALE', Occupation='SYSTEM ENGINEER', Marital Status='MARRIED', Family Size=6, Income=76800, Expenditure=None, Use Frequency=5, Loan Category='TRAVELLING', Loan Amount=None, Overdue=6,  Debt Record='29,000',  Returned Cheque=5,  Dishonour of Bill=3),
 Row(Customer_ID='IBI4155', Age=24, Gender='FEMALE', Occupation='SOFTWARE ENGINEER', Marital Status='SINGLE', Family Size=4, Income=55680, Expenditure=29000, Use Frequency=5, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=5,  Debt Record='24,000',  Returned Cheque=6,  Dishonour of Bill=4),
 Row(Customer_ID='IBI4157', Age=35, Gender='MALE', Occupation='BANK MANAGER', Marital Status='MARRIED', Family Size=4, Income=930000, Expenditure=35680, Use Frequency=6, Loan Category='HOUSING', Loan Amount=None, Overdue=5,  Debt Record='34,000',  Returned Cheque=5,  Dishonour of Bill=5),
 Row(Customer_ID='IB14158', Age=54, Gender='MALE', Occupation='AIRPORT OFFICER', Marital Status='MARRIED', Family Size=6, Income=80000, Expenditure=62541, Use Frequency=2, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=1,  Debt Record='16,599',  Returned Cheque=2,  Dishonour of Bill=3),
 Row(Customer_ID='IB14160', Age=29, Gender='MALE', Occupation='FIRE DEPARTMENT', Marital Status='MARRIED', Family Size=5, Income=45213, Expenditure=32457, Use Frequency=9, Loan Category='TRAVELLING', Loan Amount=None, Overdue=7,  Debt Record='90,000',  Returned Cheque=2,  Dishonour of Bill=5),
 Row(Customer_ID='IB14163', Age=44, Gender='FEMALE', Occupation='ACCOUNT MANAGER', Marital Status='MARRIED', Family Size=4, Income=800000, Expenditure=15632, Use Frequency=8, Loan Category='COMPUTER SOFTWARES', Loan Amount=None, Overdue=5,  Debt Record='20,145',  Returned Cheque=3,  Dishonour of Bill=4),
 Row(Customer_ID='IB14164', Age=56, Gender='MALE', Occupation='DRIVER', Marital Status='MARRIED', Family Size=5, Income=30000, Expenditure=15426, Use Frequency=7, Loan Category='TRAVELLING', Loan Amount=None, Overdue=6,  Debt Record='20,000',  Returned Cheque=4,  Dishonour of Bill=6),
 Row(Customer_ID='IB14167', Age=57, Gender='FEMALE', Occupation='CORPORATE OFFICER', Marital Status='MARRIED', Family Size=3, Income=52143, Expenditure=None, Use Frequency=4, Loan Category='AUTOMOBILE', Loan Amount=None, Overdue=4,  Debt Record='11,111',  Returned Cheque=3,  Dishonour of Bill=2),
 Row(Customer_ID='IB14169', Age=49, Gender='MALE', Occupation='ASSISTANT MANAGER', Marital Status='MARRIED', Family Size=7, Income=45612, Expenditure=39542, Use Frequency=3, Loan Category='SHOPPING', Loan Amount=None, Overdue=7,  Debt Record='65,412',  Returned Cheque=3,  Dishonour of Bill=2),

FIRST()

In [24]:
loan_df.first()

Row(Customer_ID='IB14001', Age=30, Gender='MALE', Occupation='BANK MANAGER', Marital Status='SINGLE', Family Size=4, Income=50000, Expenditure=22199, Use Frequency=6, Loan Category='HOUSING', Loan Amount=None, Overdue=5,  Debt Record='42,898',  Returned Cheque=6,  Dishonour of Bill=9)

TAKE()

In [25]:
loan_df.take(4)

[Row(Customer_ID='IB14001', Age=30, Gender='MALE', Occupation='BANK MANAGER', Marital Status='SINGLE', Family Size=4, Income=50000, Expenditure=22199, Use Frequency=6, Loan Category='HOUSING', Loan Amount=None, Overdue=5,  Debt Record='42,898',  Returned Cheque=6,  Dishonour of Bill=9),
 Row(Customer_ID='IB14008', Age=44, Gender='MALE', Occupation='PROFESSOR', Marital Status='MARRIED', Family Size=6, Income=51000, Expenditure=19999, Use Frequency=4, Loan Category='SHOPPING', Loan Amount=None, Overdue=3,  Debt Record='33,999',  Returned Cheque=1,  Dishonour of Bill=5),
 Row(Customer_ID='IB14012', Age=30, Gender='FEMALE', Occupation='DENTIST', Marital Status='SINGLE', Family Size=3, Income=58450, Expenditure=27675, Use Frequency=5, Loan Category='TRAVELLING', Loan Amount=None, Overdue=6,  Debt Record='20,876',  Returned Cheque=3,  Dishonour of Bill=1),
 Row(Customer_ID='IB14018', Age=29, Gender='MALE', Occupation='TEACHER', Marital Status='MARRIED', Family Size=5, Income=45767, Expenditure=12787, Use Frequency=3, Loan Category='GOLD LOAN', Loan Amount=None, Overdue=7,  Debt Record='11,000',  Returned Cheque=0,  Dishonour of Bill=4)]